.firstDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#C2B593;
    
}

.gameBox{
    margin-top: 20px;
    background-color:#921b07;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-shadow: 0px 10px 10px black;
}

.divName{
    margin-top: 20px;
    background-color:white;
    width:100%;
    margin-bottom: 20px;
}

.name{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #921b07;
}
.image{
    border: 10px solid black;
    border-radius: 30px;
    width: 500px;
    
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.title{
    color: white;
    text-align: justify;
    font-size: 20px;
    font-weight: 900;
}
.text{
    color: white
}

.link{
    color: white;
    margin-bottom: 20px;
}