.divHome{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #C2B593;
}

.divComponets{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 565vh;
    background-color: #C2B593;
    width: 100vw;
}